@font-face {
  font-family: accelerator;
  src: url("../fonts/accelerator.otf");
}
@font-face {
  font-family: acosta;
  src: url("../fonts/Acosta.otf");
}
@font-face {
  font-family: droid;
  src: url("../fonts/droid.otf");
}
@font-face {
  font-family: projectspace;
  src: url("../fonts/ProjectSpace.otf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: monospace;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  list-style: none;
}

i {
  font-size: 1.5em;
}

body {
  background-color: #26292e;
  color: #a3b1ee;
  width: 100%;
}

#navbar {
  width: 100%;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.navbar-hero h1 {
  font-size: 1.8em;
}

#content {
  display: flex;
  padding: 40px;
  height: 80vh;
}

.content-profile {
  width: 50%;
  text-align: center;
}

.content-profile .profile-picture img {
  width: 40%;
  border-radius: 50%;
  border: 5px solid #607adb;
}

.content-profile .profile-deskripsi h4,
.content-profile .profile-deskripsi .typing-demo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #436bff;
}

.content-profile .profile-deskripsi .typing-demo {
  /* width: 300px; */
  margin: auto;
  width: 27ch;
  font-size: 1.1em;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.content-profile .profile-deskripsi button {
  margin-top: 30px;
  width: 40%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  background-color: #a3b1ee;
  color: #2f323b;
  font-weight: bold;
  cursor: pointer;
}

.content-profile .profile-deskripsi button:hover {
  background-color: #a3b1ee80;
  color: #c1cfff;
  transition: all 0.8s;
}

.content-deskripsi {
  width: 50%;
}

.content-deskripsi .deskripsi-title {
  text-align: center;
  margin-bottom: 10px;
}

.content-deskripsi .deskripsi-title h2 {
  font-size: 1.5em;
  color: #436bff;
}

.content-deskripsi .deskripsi-links ul li {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  padding: 13px;
  background-color: #2f323b;
  text-align: center;
  border-radius: 0 10px 0 10px;
  border: 2px solid #436bff;
}

.content-deskripsi .deskripsi-links ul a {
  color: #607adb;
  font-weight: bold;
}

.content-deskripsi .deskripsi-links ul a:hover li {
  background-color: #607adb;
  color: #c1cfff;
  border: 2px solid #c1cfff;
}

#footer {
  padding: 23px;
  text-align: center;
}

@media (max-width: 576px) {
  * {
    overflow-x: hidden;
    overflow-y: unset;
  }
  .navbar-hero h1 {
    font-size: 1.3em;
  }

  #content {
    display: inherit;
  }

  .content-profile {
    width: 100%;
  }

  .content-profile .profile-deskripsi h4,
  .content-profile .profile-deskripsi h5 {
    letter-spacing: 1px;
  }

  .content-profile .profile-deskripsi button {
    width: 55%;
    margin-bottom: 60px;
    font-size: 0.8em;
  }

  .content-deskripsi {
    width: 100%;
  }

  .content-deskripsi .deskripsi-links ul li {
    width: 100%;
  }

  #footer {
    padding: 15px;
  }

  .footer-title {
    width: 88%;
    margin: auto;
  }

  .footer-title i {
    font-size: 1em;
  }

  .footer-title p {
    font-size: 0.8em;
  }
}
